@import "../../Global.css";

.cashybot {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cashybot-welcome {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
}

    .cashybot-welcome.disabled {
        display: none;
    }

    .cashybot-welcome img {
        width: 120px;
        height: 120px;
    }

    .cashybot-welcome h1 {
        font-size: 22px;
        font-weight: 400;
        margin: 1rem 0 7px;
    }

    .cashybot-welcome h2 {
        font-size: 17px;
        font-weight: 200;
    }

.cashybot-input {
    display: flex;
    width: 75%;
    height: auto;
    position: fixed;
    bottom: 0;
    gap: 12px;
    align-items: flex-start;
    background-color: var(--color-white);
    padding: 2rem 2rem 4rem;
}

    .cashybot-input textarea {
        display: flex;
        width: 85%;
        max-width: 85%;
        min-width: 85%;
        height: auto;
        padding: 1rem 20px 1rem;
        font-size: 18px;
        border-radius: 10px;
        font-weight: 400;
        border: 1px solid var(--color-gray2);
        outline: none;
        color: var(--color-dark-blue);
        overflow-x: hidden;
        field-sizing: content;
        min-height: 60px;
        max-height: 150px;
        z-index: 2;
    }

        .cashybot-input textarea:focus {
            border: 1px solid var(--color-green);
        }

    .cashybot-input button {
        display: flex;
        width: 15%;
        min-width: 180px;
        height: 60px;
        align-items: center;
        justify-content: center;
        padding: 1rem 2.5rem 1rem;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        background-color: var(--color-green);
        color: var(--color-white);
        cursor: pointer;
        gap: 10px;
        transition: .3s ease-in-out;
    }

        .cashybot-input button svg {
            width: 20px;
            height: 20px;
        }

        .cashybot-input button:hover {
            opacity: .85;
            transition: .3s ease-in;
        }

.cashybot-chat {
    display: flex;
    width: 99%;
    min-height: 70vh;
    height: auto;
    align-items: flex-end;
    flex-direction: column;
    overflow: auto;
    /* overflow-x: hidden; */
    gap: 1.5rem;
    justify-content: flex-start;
    color: var(--color-dark-blue);
    padding: 0 2rem 0;
}

.cashybot-prompt,
.cashybot-response {
    display: flex;
    height: auto;
    flex-direction: column;
    line-height: 30px;
}

.cashybot-response {
    width: 100%;
    font-size: 16px;
    padding-bottom: 7rem;
}

    .cashybot-response-top {
        display: flex;
        width: auto;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
        border-bottom: 2px solid var(--color-green);
        padding-bottom: 1rem;
    }

        .cashybot-response-top img {
            width: 50px;
            height: 50px;
        }

        .cashybot-response-top h2 {
            font-size: 28px;
            color: var(--color-dark-blue);
        }

.cashybot-prompt {
    width: 50%;
    background-color: var(--color-gray);
    border-radius: 10px;
    padding: 1.5rem;
    gap: 5px;
    line-height: 25px;
    font-size: 15px;
}

    .cashybot-prompt h2 {
        color: var(--color-green);
        font-size: 22px;
        font-weight: 600;
    }

.loader-cashybot {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    flex-direction: column;
    gap: 2rem;
    font-size: 19px;
    color: var(--color-dark-blue);
}

/* Responsive 1440px */
@media (max-width: 1440px) {
    .cashybot-response-top {
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .cashybot-response-top img {
        width: 46px;
        height: 46px;
    }

    .cashybot-response-top h2 {
        font-size: 25px;
    }

    .cashybot-response {
        font-size: 14px;
        line-height: 25px;
    }

    .cashybot-prompt {
        width: 60%;
    }

    .cashybot-input {
        width: 70%;
    }

    .cashybot-welcome img {
        width: 105px;
        height: 105px;
    }

    .cashybot-welcome h1 {
        font-size: 19px;
    }

    .cashybot-welcome h2 {
        font-size: 16px;
    }

    .cashybot-input textarea {
        font-size: 15px;
        min-height: 57px;
        padding: 14px 1rem 14px;
        min-width: 0%;
    }

    .cashybot-input button {
        height: 57px;
        font-size: 15px;
    }

    .loader-cashybot {
        font-size: 16px;
    }

    .loader-cashybot svg {
        width: 20px;
        height: 20px;
    }
}

/* Responsive 1280px */
@media (max-width: 1280px) {
    .cashybot-input {
        width: 67%;
    }

    .cashybot-response {
        padding-bottom: 9rem;
    }
}

/* Responsive 1024px */
@media (max-width: 1024px) {
    .cashybot-input {
        width: 90%;
        padding-bottom: 3rem;
    }
}

/* Responsive 768px */
@media (max-width: 768px) {
    .cashybot-input textarea {
        width: 100%;
    }

    .cashybot-input button {
        font-size: 0;
        min-width: 30px;
        width: 70px;
        padding: 10px;
        gap: 0;
    }

    .cashybot-input button svg {
        width: 22px;
        height: 22px;
    }

    .cashybot-prompt {
        width: 75%;
    }

    .cashybot-welcome {
        padding: 0 3rem 0;
    }
}

/* Responsive 425px */
@media (max-width: 425px) {
    .cashybot-input {
        width: 95%;
    }

    .cashybot-prompt {
        width: 100%;
    }

    .cashybot-input button,
    .cashybot-input textarea {
        min-height: 70px;
        height: 50px;
    }

    .cashybot-input textarea {
        font-size: 15px;
        padding: 14px 1rem 14px;
    }

    .cashybot-input button svg {
        width: 20px;
        height: 20px;
    }
}