/* Lexend font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

/* Variables */
:root {
    --color-white: #FFF;
    --color-gray: #F0F1F5;
    --color-gray2: #A7A7A7;
    --color-dark-green: #2EA662;
    --color-green: #24BF67;
    --color-light-green: #DCFCE7;
    --color-light-greenblue:#CFFAF0;
    --color-greenblue: #19937B;
    --color-purple: #7E3DD9;
    --color-light-purple: #F1E9FF;
    --color-dark-blue: #213440;
    --color-blue: #3D90D9;
    --color-light-blue: #DDE9FF;
    --color-orange: #D35724;
    --color-yellow: #D49124;
    --color-red: #D43724;
    --color-light-red: #F9C1BA;
    --color-light-orange: #FFE6D3;
    font-family: "Lexend", sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}
    
body::-webkit-scrollbar-track {
    background-color: var(--color-gray);
    box-shadow: inset 0 0 2px var(--color-gray);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-green);
    box-shadow: inset 0 0 2px var(--color-dark-blue);
    border-radius: 5px;
}

.font-lexend {
    font-family: "Lexend", sans-serif;
}

.content-page--admin {
    display: flex;
    width: auto;
    margin-left: 320px;
    height: auto;
    padding: 4rem 5rem 4rem;
    flex-direction: column;
}

option {
    cursor: pointer;
}

.message-error-validation {
    display: flex;
    width: 100%;
    color: red;
    font-size: 15px;
    text-align: left;
}

.txt-animated-gradient-blue-green {
    color: transparent;
    background: linear-gradient(
        90deg, var(--color-blue), 
        var(--color-dark-green), var(--color-blue)
    );
    background-size: 200% 100%;
    background-position: 100% 50%;
    -webkit-background-clip: text;
    animation: gradientMovement 10s ease infinite;
}

.no-scroll {
    overflow: hidden;
}

.no-data {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    background-color: var(--color-white);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 0 4rem;
    filter: drop-shadow(0 1px 2px var(--color-dark-blue));
    color: var(--color-dark-blue);
    font-size: 17px;
    font-weight: 400;
}

@keyframes gradientMovement {
    0% {
        background-position: 200% 0%;
    }
    50% {
        background-position: -200% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

/* Responsive 1440px */
@media (max-width: 1440px) {
    .content-page--admin {
        margin-left: 300px;
        padding: 3.5rem 4rem 3.5rem;
    }

    .no-data {
        font-size: 15px;
        padding: 3.5rem 0 3.5rem;
    }
}

/* Responsive 1024px */
@media (max-width: 1024px) {
    .content-page--admin {
        margin-left: 0;
        padding: 2.5rem 3rem 2.5rem;
    }

    .no-data {
        padding: 2.5rem 2rem 2.5rem;
    }
}

/* Responsive 425px */
@media (max-width: 425px) {
    .content-page--admin {
        padding: 37px;
    }
}